.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #3b82f6;
    color: white;
  }
  
  .logo {
    width: 130px;
    height: 29px;
  }
  
  .menu {
    display: flex;
    gap: 12px;
    list-style: none;
  }
  
  .menuItem {
    padding: 16px 24px;
    color: aquamarine;
    cursor: pointer;
  }
  